.hero-block-text-subtitle {
    text-align: right;
}

.text-block-subtitle {
    text-align: right;
}

#occasion-text-block .text-block-subtitle {
    text-align: right;
}






/* .marquee #marquee {
    min-width: 265px;
}


.marquee img {
    margin-right: 20px;
    margin-left: 0px;
}



@keyframes marquee1 {
    0% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes marquee2 {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(200%);
    }
}

@keyframes marquee3 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(300%);
    }
}

@keyframes marquee4 {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(400%);
    }
} */


.authentic-block {
    font-size: 28px;
    gap: 18px;
    padding: 12px 5px;
}



.confirm-form p {
    text-align: right;
}



@keyframes marqueeDish1 {
    0% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes marqueeDish2 {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(200%);
    }
}

@keyframes marqueeDish3 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(300%);
    }
}

@keyframes marqueeDish4 {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(400%);
    }
}




@media (min-width: 768px) {
    /* .marquee #marquee {
        min-width: 332px;
    } */


    .authentic-block {
        font-size: 50px;
        padding: 18px 5px;
        gap: 28px;
    }
    .authentic-block img {
        width: 45px;
    }
}


@media (min-width: 1024px) {
    /* .marquee #marquee {
        
        font-size: 90px;
        min-width: 445px;
    } */


    .authentic-block {
        font-size: 65px;
        gap: 35px;
        padding: 25px 5px;
    }

    .authentic-block img {
        width: 55px;
    }

}
