.marquee #marquee {
    min-width: 271px;
}



@media (min-width: 768px) {
    .marquee #marquee {

        min-width: 340px;
    }
}


@media (min-width: 1024px) {
    .marquee #marquee {
        font-size: 100px;
        min-width: 503px;
    }

    .marquee img {
        width: 60px;
    }
}