.hero-block-text-subtitle {
    text-align: right;
}

.text-block-subtitle {
    text-align: right;
}

#occasion-text-block .text-block-subtitle {
    text-align: right;
}


.review-text {
    text-align: right;
}



.authentic-block {
    font-size: 28px;
    gap: 25px;
    padding: 12px 5px;
}



.confirm-form p {
    text-align: right;
}



@keyframes marqueeDish1 {
    0% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes marqueeDish2 {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(200%);
    }
}

@keyframes marqueeDish3 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(300%);
    }
}

@keyframes marqueeDish4 {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(400%);
    }
}




@media (min-width: 768px) {
    


    .authentic-block {
        font-size: 40px;
        padding: 18px 5px;
        gap: 35px;
    }
    
}


@media (min-width: 1024px) {
   


    .authentic-block {
        font-size: 45px;
        gap: 45px;
        padding: 20px 5px;
    }


}
