



.authentic-block {
    font-size: 28px;
}




@media (min-width: 768px) {
    

    .authentic-block {
        font-size: 40px;
        padding: 18px 5px;
        gap: 35px;
    }
   
}


@media (min-width: 1024px) {
    


    .authentic-block {
        font-size: 45px;
        gap: 45px;
        padding: 25px 5px;
    }

} 