body {
    width: 100%;
    margin: 0;
    font-family: 'Nunito', sans-serif;

    background-color: #FFFCED;
}




/* header */
.header {
    position: relative;
    background-color: #FFFCED;
    z-index: 120;

    border-bottom: 1px solid #552B1B;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    position: relative;
}

.header-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header-button-menu,
.header-button-book {
    font-size: 15px;
    padding: 7px 10px;
    border-radius: 20px;

    cursor: pointer;
}

.header-button-menu {
    border: 1px solid #552B1B;
    /* color: #552B1B; */
    background-color: transparent;
    align-self: flex-start;
}

.header-button-menu a {
    text-decoration: none;
    color: #552B1B;
}

.header-button-book {
    color: #FFFCED;
    background-color: #552B1B;
}

.header-button-book a{
    color: #FFFCED;
    text-decoration: none;
}

.header-logo {

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header-logo img {
    width: 54px;
}

.header-language {
    display: flex;
    align-items: center;
    gap: 3px;

    cursor: pointer;
    color: #552B1B;

    position: relative;
}

.header-language-selected {
    font-size: 15px;
}

.header-language-icon {
    height: 16px;
}




/* анимация полоски под */
.header-language::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #552B1B;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
    will-change: transform;
}

/* Наведение на десктопах */
@media (hover: hover) {
    .header-language:hover::after {
        transform: scaleX(1);
    }
}

/* Активное состояние */
.header-language.active::after {
    transform: scaleX(1);
}




.separator {
    width: 80%;
    margin: 0 auto;
    height: 1px;
    background-color: #552B1B;
    border-radius: 10px;
}





/* навигация по языкам */

.site-nav-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    z-index: 80;
    transition: opacity 0.3s ease;
}

.site-nav-back.hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}


.site-nav {
    z-index: 100;
    position: absolute;
    top: 109px;
    left: 0;
    right: 0;
    transform: translateY(-20px);
    opacity: 0;
    background-color: #FFFCED;
    color: #552B1B;


    pointer-events: none;
    transition: transform 0.4s ease, opacity 0.2s ease;
}

.site-nav.visible {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}




.site-nav::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #552B1B;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.4s ease;
    will-change: transform;
}


.site-nav.line::after {
    transform: scaleX(1);
}





.site-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    padding: 12px 15px;
    /* transition: height 0.3s ease; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}



.site-nav li {
    position: relative;
    font-size: 15px;
    margin: 10px 0;
    /* transition: opacity 0.2s ease, color 0.2s ease; */
    cursor: pointer;
    padding: 5px 0;
}


.site-nav li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #552B1B;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
    will-change: transform;
}

/* При наведении (десктоп) */
@media (hover: hover) {
    .site-nav li:hover::after {
        transform: scaleX(1);
    }
}

.site-nav li.active::after {
    transform: scaleX(1);
}


.site-nav a {
    text-decoration: none;
    color: #552B1B;
    padding: 5px 0;
}





/* текст */

.main-wrapper {
    padding: 35px;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #552B1B;
    font-size: 15px;
}

.main-title {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 34px;
}

.text-block span {
    font-size: 17px;
    font-weight: 600;
}



/* footer */

.footer {
    background-color: #552B1B;
    color: #FFFCED;
    padding: 35px 35px;

    display: flex;

    font-size: 15px;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-block {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-logo {
    width: 40px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-info-block {
    display: flex;
    align-items: center;
    gap: 5px;

}

.contact-info-block a {
    color: #FFFCED;
    text-decoration: none;
}

.contact-info-block img {
    width: 15px;
}

.social-media-block {
    display: flex;
    align-items: center;
    gap: 20px;
}

.social-media-block img {
    width: 30px;
}

.timing-block {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.terms-block {
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.terms-block a {
    text-decoration: none;
    color: #FFFCED;
    /* font-size: 15px; */
}






@media (min-width: 768px) {


    .header-wrapper {
        padding: 40px 50px;
    }

    .header-logo img {
        width: 60px;
    }

    .header-buttons {
        flex-direction: row;
        gap: 20px;
    }


    .header-button-menu,
    .header-button-book {
        font-size: 16px;
    }

    .header-language-selected {
        font-size: 16px;
    }



    .site-nav {
        top: 117px;
    }

    .site-nav ul {
        padding: 15px 50px;
    }


    .site-nav li {
        font-size: 16px;
    }



    .main-wrapper {
        padding: 35px 50px;
    }

    .text-container {
        font-size: 16px;
    }

    .main-title {
        font-size: 38px;
    }

    .text-block span {
        font-size: 18px;
    }




    .footer {
        /* align-items: center; */
        justify-content: center;
        font-size: 16px;
    }

    .footer-logo {
        width: 45px;
    }
}


@media (min-width: 1024px) {

    .header-wrapper {
        padding: 40px 70px;
    }

    /* .header-logo img {
        width: 60px;
    } */

    .header-button-menu,
    .header-button-book {
        font-size: 18px;
    }

    .header-language-selected {
        font-size: 17px;
    }



    .site-nav {
        top: 121px;
    }

    .site-nav ul {
        padding: 15px 70px;
    }


    .site-nav li {
        font-size: 17px;
    }




    .main-wrapper {
        padding: 35px 70px;
    }

    .text-container {
        font-size: 17px;
    }

    .main-title {
        font-size: 45px;
    }

    .text-block span {
        font-size: 19px;
    }
    



    .footer {
        font-size: 17px;
    }

    .info-block {
        gap: 13px;
    }

    .footer-logo {
        width: 50px;
    }

    .contact-info-block img {
        width: 18px;
    }
}