html,
body {
    height: 100%;
    margin: 0;
}

body {
    width: 100%;
    /* height: 100%; */
    /* margin: 0; */
    font-family: 'Nunito', sans-serif;

    background-color: #FFFCED;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}



/* header */

.header {
    position: relative;
    background-color: #FFFCED;
    z-index: 120;
    border-bottom: 1px solid #552B1B;
}

.header-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 15px 15px;
    position: relative;
}

.header-nav {
    padding: 10px 12px;
    border-radius: 20px;

    cursor: pointer;

    border: 1px solid #552B1B;
    background-color: transparent;

}

.header-nav a {
    text-decoration: none;
    color: #552B1B;
}

.header-nav.active {
    border: none;
    background-color: #552B1B;
    color: #FFFCED;
}




/* основа */


.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* justify-content: center;
    align-items: center; */
    padding: 60px 40px;
    color: #552B1B;
}

.main-title {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 34px;
    text-align: left;
}


.main-editor-wrapper {
    display: flex;
    gap: 150px;
}

/* таблица категорий */

.categories-main-container,
.items-main-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* align-self: flex-start; */
}

.subtitle {
    font-size: 20px;
}

.categories-wrapper,
.items-wrapper {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.category-block {
    display: flex;
    flex-direction: column;
}

.category-block-info-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.category-block-info {
    flex: 1;
    border-bottom: 2px solid #552B1B;
    padding: 8px;
}

.category-block-info.active {
    background-color: #552B1B;
    color: #FFFCED;
}

.category-name,
.item-name {
    font-size: 18px;
}

.edit-btn {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.category-block-edit {
    display: none;
}

.category-block-edit.active {
    display: flex;
    flex-direction: column;
    gap: 5px;

    font-size: 12px;
}

.category-block-edit input {
    font-size: 16px;
}

.change-buttons {
    display: flex;
    gap: 7px;
}

.act-btn {
    flex: 1;
    padding: 6px 8px;
    font-size: 13px;
    border: 1px solid #552B1B;
    border-radius: 15px;
    background: #FFFCED;
    cursor: pointer;
}

.act-btn:hover {
    background: #552B1B;
    color: #FFFCED;
}


.add-category-container {
    margin-top: 20px;
}

.add-category-btn {
    text-decoration: underline;
    cursor: pointer;
    font-size: 17px;
    display: none;
}

.add-category-btn.active {
    display: block;
}

.add-category-block {
    display: none;
}

.add-category-block.active {
    display: block;
}

.add-category-block-edit {
    display: flex;
    flex-direction: column;
    gap: 5px;

    font-size: 12px;
}



/* таблица блюд */

.items-main-container.hidden {
    display: none;
}

.item-block {
    border-bottom: 2px solid #552B1B;
    padding: 8px;
}

.add-item-btn {
    text-decoration: underline;
    cursor: pointer;
    font-size: 17px;
    margin-top: 20px;
}





@media (min-width: 768px) {
    .main-container {
        padding: 60px 50px;
        gap: 15px;
    }

    .main-title {
        font-size: 38px;
    }


    /* .form-buttons {
        font-size: 16px;
    } */

}


@media (min-width: 1024px) {


    .main-container {
        padding: 80px 50px;
        gap: 20px;
    }

    .main-title {
        font-size: 45px;
    }

    /* .form-buttons {
        font-size: 17px;
    } */


}