html,
body {
    height: 100%;
    margin: 0;
}

body {
    width: 100%;
    /* height: 100%; */
    /* margin: 0; */
    font-family: 'Nunito', sans-serif;

    background-color: #FFFCED;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}



/* header */

.header {
    position: relative;
    background-color: #FFFCED;
    z-index: 120;
    border-bottom: 1px solid #552B1B;
}

.header-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 15px 15px;
    position: relative;
}

.header-nav {
    padding: 10px 12px;
    border-radius: 20px;

    cursor: pointer;

    border: 1px solid #552B1B;
    background-color: transparent;

}

.header-nav a {
    text-decoration: none;
    color: #552B1B;
}

.header-nav.active {
    border: none;
    background-color: #552B1B;
    color: #FFFCED;
}




/* основа */


.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 60px 40px;
    color: #552B1B;
}

.main-title {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 34px;
    text-align: center;
}



.scan-button {
    padding: 10px 12px;
    border-radius: 20px;

    cursor: pointer;

    background-color: #552B1B;
    color: #FFFCED;
}



.scan-button.hidden {
    display: none;
}


.scanner-box.hidden {
    display: none
}

.scanner-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#scanner-view {
    width: 300px;
    height: 300px;
}

.scanner-close {
    padding: 10px 12px;
    border-radius: 20px;

    cursor: pointer;

    background-color: #552B1B;
    color: #FFFCED;
}

.client-data.hidden {
    display: none
}

.client-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#edit-comment-form.hidden {
    display: none;
}

#edit-comment-btn {
    text-decoration: underline;
}

#save-comment-btn {
    padding: 7px 11px;
    border-radius: 20px;

    cursor: pointer;

    background-color: #552B1B;
    color: #FFFCED;
}

#cancel-comment-btn {
    padding: 7px 11px;
    border-radius: 20px;

    cursor: pointer;

    border: 1px solid #552B1B;
    background-color: transparent;
    color: #552B1B;
}

.action-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.mark-visit {
    padding: 10px 12px;
    border-radius: 20px;

    cursor: pointer;

    background-color: #552B1B;
    color: #FFFCED;
}

.mark-visit.used {
    background-color: #eee;
    color: #333;
}

.close-button {
    padding: 10px 12px;
    border-radius: 20px;

    cursor: pointer;

    border: 1px solid #552B1B;
    background-color: transparent;
    color: #552B1B;
}




@media (min-width: 768px) {
    .main-container {
        padding: 60px 50px;
        gap: 15px;
    }

    .main-title {
        font-size: 38px;
    }


    .form-buttons {
        font-size: 16px;
    }

}


@media (min-width: 1024px) {


    .main-container {
        padding: 80px 50px;
        gap: 20px;
    }

    .main-title {
        font-size: 45px;
    }

    .form-buttons {
        font-size: 17px;
    }


}