body {
    width: 100%;
    margin: 0;
    font-family: 'Nunito', sans-serif;

    background-color: #FFFCED;
}




/* header */
.header {
    position: relative;
    background-color: #FFFCED;
    z-index: 120;
    border-bottom: 1px solid #552B1B;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 15px;
    position: relative;
}

.header-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.header-button-book {
    font-size: 15px;
    padding: 7px 10px;
    border-radius: 20px;

    cursor: pointer;

    background-color: #552B1B;
}



.header-button-book a {
    text-decoration: none;
    color: #FFFCED;
    /* background-color: #552B1B; */
}

.header-logo {

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header-logo img {
    width: 54px;
}

.header-language {
    display: flex;
    align-items: center;
    gap: 3px;

    cursor: pointer;
    color: #552B1B;

    position: relative;
}

.header-language-selected {
    font-size: 15px;
}

.header-language-icon {
    height: 16px;
}



/* анимация полоски под */
.header-language::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #552B1B;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
    will-change: transform;
}

/* Наведение на десктопах */
@media (hover: hover) {
    .header-language:hover::after {
        transform: scaleX(1);
    }
}

/* Активное состояние */
.header-language.active::after {
    transform: scaleX(1);
}


.separator {
    width: 90%;
    margin: 0 auto;
    height: 1px;
    background-color: #552B1B;
    border-radius: 10px;
}




/* навигация по языкам */

.site-nav-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    z-index: 80;
    transition: opacity 0.3s ease;
}

.site-nav-back.hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}


.site-nav {
    z-index: 100;
    position: absolute;
    top: 104px;
    left: 0;
    right: 0;
    transform: translateY(-20px);
    opacity: 0;
    background-color: #FFFCED;
    color: #552B1B;


    pointer-events: none;
    transition: transform 0.4s ease, opacity 0.2s ease;
}

.site-nav.visible {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}




.site-nav::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #552B1B;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.4s ease;
    will-change: transform;
}


.site-nav.line::after {
    transform: scaleX(1);
}





.site-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    padding: 12px 15px;
    /* transition: height 0.3s ease; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}



.site-nav li {
    position: relative;
    font-size: 15px;
    margin: 10px 0;
    /* transition: opacity 0.2s ease, color 0.2s ease; */
    cursor: pointer;
    padding: 5px 0;
}


.site-nav li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #552B1B;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
    will-change: transform;
}

/* При наведении (десктоп) */
@media (hover: hover) {
    .site-nav li:hover::after {
        transform: scaleX(1);
    }
}

.site-nav li.active::after {
    transform: scaleX(1);
}


.site-nav a {
    text-decoration: none;
    color: #552B1B;
    padding: 5px 0;
}





/* панель навигации меню */

.navigation-container {

    position: sticky;
    top: 0;
    background-color: rgba(255, 252, 237, 0.9);
    z-index: 70;
    padding: 15px 20px;
}


.nav-categories {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    /* margin: 5px auto; */
}


.category-btn {
    font-size: 15px;
    padding: 7px 10px;
    border: 1px solid #552B1B;
    background-color: #FFFCED;
    color: #552B1B;

    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.5s;
}

.category-btn.active {
    background-color: #552B1B;
    color: #FFFCED;
}




/* карточки */

.category-section {
    padding: 20px 35px 40px 35px;
}

.main-category-title {
    font-family: "Playfair Display", serif;
    color: #552B1B;
    font-weight: 600;
    margin: 0 0 25px 0;
    font-size: 34px;
    text-align: center;
}


.cards-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;

}


.card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 17px;
    max-width: 450px;
}


.card-image {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2)
}


.card-content {
    color: #552B1B;
}

.card-content-title {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.card-content-description {
    font-size: 15px;
}

.card-content-price {
    font-size: 16px;

    display: flex;
    flex-wrap: wrap;
    gap: 10px 25px;

    text-align: center;
    line-height: 26px;
}

.card-content-price span {
    text-decoration: underline;
    text-underline-offset: 6px;
}








@media (min-width: 768px) {

    .header-wrapper {
        padding: 40px 50px;
    }

    .header-logo img {
        width: 60px;
    }

    .header-button-book {
        font-size: 16px;
    }

    .header-language-selected {
        font-size: 16px;
    }



    .site-nav {
        top: 117px;
    }

    .site-nav ul {
        padding: 15px 50px;
    }


    .site-nav li {
        font-size: 16px;
    }


    .category-btn {
        font-size: 16px;
    }


}



@media (min-width: 1024px) {

    .header-wrapper {
        padding: 40px 70px;
    }

    /* .header-logo img {
        width: 60px;
    } */

    .header-button-book {
        font-size: 18px;
    }

    .header-language-selected {
        font-size: 17px;
    }




    .site-nav {
        top: 119px;
    }

    .site-nav ul {
        padding: 15px 70px;
    }


    .site-nav li {
        font-size: 17px;
    }




    .card-content-title {
        font-size: 22px;
    }

    .card-content-description {
        font-size: 16px;
    }

    .card-content-price {
        font-size: 17px;
    }

    .category-btn {
        font-size: 17px;
    }
}